.popup__text {
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    height: 35px;
}

.popup__text:nth-of-type(2) {
    margin-top: 20px; 
}
.popup__text:nth-of-type(1) {
    margin-top: 38px;
}

@media screen and (max-width:490px) {
    .popup__text:nth-of-type(2)  {
       margin-bottom: 42px;
    }
}