.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 114%;
    margin: 0;
    vertical-align: bottom;
    padding-top: 20px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
}

@media screen and (max-width:490px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        padding-top: 27px;
    }
}